@import url('https://fonts.googleapis.com/css?family=Raleway');

.padd{
  padding-top: 10%;
}
.paddCenter{
  padding-top: 25%
}

.leftPadd{
  padding-left: 8%;
}

.projImg{
  max-width: 400px;
  /*max-height: 100%;*/
  border-radius: 10%;

}
.left{
  text-align: left;
}
.languageLogo{
 width: 200px;
  max-width: 100%;
  max-height: 100%;
}
#proPic{
max-height: 100%;
max-width: 100%;
border-radius: 25%;
opacity: .8;
}
p{

  color: white;
  font-size: 100%;
  font-weight: 800;
}

 body {
   font-family: 'Raleway', sans-serif;
  /*position: relative;
  overflow: hidden;*/

  position:relative;
 background: url(./MVC.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 width:100%;
 height:100%;
 margin:0
  background-size: 100% 100%;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);

  border-bottom: none;
  background-color: #75838F;


}


body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(96,107, 117,0.5);
    z-index:-1;
}









/*CSS for animated Header */


html, body {
  height: 100%;
}

.cursor {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font: 100 4rem "Avenir Next", Arial, sans-serif;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
}
.cursor .type {
  position: relative;
}
.cursor .type:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 106%;
  -webkit-animation: highlight .5s 3s ease forwards, remove .2s 3.5s ease forwards;
          animation: highlight .5s 3s ease forwards, remove .2s 3.5s ease forwards;
}
.cursor .type:after {
  content: '';
  position: absolute;
  top: 15%;
  left: -4%;
  height: 60%;
  width: 1px;
  background: white;
  -webkit-animation: pulse 1s ease infinite, type 1.3s ease forwards, delete 1.3s 3.5s ease forwards;
          animation: pulse 1s ease infinite, type 1.3s ease forwards, delete 1.3s 3.5s ease forwards;
}
.cursor .type span {
  position: relative;
  font-weight: 500;
  letter-spacing: -.1em;
  opacity: 0;
}
.cursor .type span:nth-of-type(1) {
  -webkit-animation: showme 100ms 150ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 150ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(2) {
  -webkit-animation: showme 100ms 300ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 300ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(3) {
  -webkit-animation: showme 100ms 450ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 450ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(4) {
  -webkit-animation: showme 100ms 600ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 600ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(5) {
  -webkit-animation: showme 100ms 750ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 750ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(6) {
  -webkit-animation: showme 100ms 900ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 900ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(7) {
  -webkit-animation: showme 100ms 1050ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 1050ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(8) {
  -webkit-animation: showme 100ms 1200ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 1200ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(9) {
  -webkit-animation: showme 100ms 1350ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 1350ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}
.cursor .type span:nth-of-type(10) {
  -webkit-animation: showme 100ms 1350ms ease forwards, highlightcolor 0.5s 3s ease forwards;
          animation: showme 100ms 1350ms ease forwards, highlightcolor 0.5s 3s ease forwards;
}

@-webkit-keyframes showme {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showme {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  40% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
@keyframes pulse {
  40% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
@-webkit-keyframes type {
  0%,    12% {
    left: -4%;
  }
  12.5%, 24% {
    left: 20%;
  }
  25%,   37% {
    left: 35%;
  }
  37.5%, 49% {
    left: 52%;
  }
  50%,   62% {
    left: 64%;
  }
  62.5%, 74% {
    left: 70%;
  }
  75%,   87% {
    left: 80%;
  }
  87.5%, 99% {
    left: 94%;
  }
  100% {
    left: 108%;
  }
}
@keyframes type {
  0%,    12% {
    left: -4%;
  }
  12.5%, 24% {
    left: 20%;
  }
  25%,   37% {
    left: 35%;
  }
  37.5%, 49% {
    left: 52%;
  }
  50%,   62% {
    left: 64%;
  }
  62.5%, 74% {
    left: 70%;
  }
  75%,   87% {
    left: 80%;
  }
  87.5%, 99% {
    left: 94%;
  }
  100% {
    left: 108%;
  }
}
@-webkit-keyframes highlight {
  100% {
    background: white;
    color: #FF4136;
  }
}
@keyframes highlight {
  100% {
    background: white;
    color: #FF4136;
  }
}
@-webkit-keyframes highlightcolor {
  to {
    color: #FF4136;
  }
}
@keyframes highlightcolor {
  to {
    color: #FF4136;
  }
}
@-webkit-keyframes delete {
  to {
    left: -4%;
  }
}
@keyframes delete {
  to {
    left: -4%;
  }
}
@-webkit-keyframes remove {
  to {
    opacity: 0;
  }
}
@keyframes remove {
  to {
    opacity: 0;
  }
}

/*hover*/
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	/*position: relative;*/
	/*float: left;*/
	overflow: hidden;

}

.grid figure img {
	/*position: relative;
	display: block;*/
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;

}

.grid figure figcaption {
	padding: 8em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: black;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
